<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
   <div class="nav pt-2" style="background-color: darkgreen">
         <form class="form-inline">
            <button class="btn btn-primary" routerLink="/land" routerLinkActive="active">Home</button>          
         </form>
   </div>
   <div class="nav pt-2" style="background-color: darkgreen">
         <form class="form-inline">
            <button class="btn btn-primary" routerLink="/user" routerLinkActive="active">Search User</button>          
         </form>
   </div> 
         
  
  <router-outlet></router-outlet>
  
</body>

